<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.TestListener" />
    </listeners>
    <test name="register test">
        <classes>
            <class name="testcases.register.TC_RegisterTest" />

        </classes>
    </test>
<!--    <test name="login test">-->
<!--        <classes>-->
<!--            <class name="testcases.login.TC0_LoginTest" />-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="home test">-->
<!--        <classes>-->
<!--            <class name="testcases.home.TC_CinemaTest" />-->
<!--            <class name="testcases.home.TC_FilterTest"/>-->
<!--            <class name="testcases.home.TC_MovieTest"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="showtime test">-->
<!--        <classes>-->
<!--            <class name="testcases.detailmovie.TC_DetailMovieTest" />-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="seat test">-->
<!--        <classes>-->
<!--            <class name="testcases.seat.TC_SeatTest" />-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="history test">-->
<!--        <classes>-->
<!--            <class name="testcases.history.TC_HistoryTest" />-->
<!--        </classes>-->
<!--    </test>-->
</suite>