name: Selenium Gradle CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  selenium-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Run Selenium Tests
      run: |
        ./gradlew clean test \
        -Denv=uat \
        -Dbrowser=chrome \
  

    - name: Upload TestNG & Extent Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-report
        path: |
          test-output/**
